server:
  port: 8084

spring:
  application:
    name: appointment-service

  datasource:
    url: jdbc:postgresql://localhost:5432/medsync_appointment
    username: postgres
    password: Jarvis@29
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

jwt:
  secret: "change-this-secret-in-prod-its-very-important"
  access-token-expiration-seconds: 3600

logging:
  level:
    org.springframework.web: DEBUG
    com.medsync.appointment_service: DEBUG

medsync:
  kafka:
    appointments-topic: appointment-events
